<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.eddie.nhoco"
    versionCode = "4.0.0"
    version     = "6.9" >

<!-- versionCode is optional and Android only -->

  <name>Eddie's</name>

  <description>
      Shush good game ngl.
  </description>

  <author href="https://gamejolt.com/@VenemonYT" email="not@not.com">
      VenemonTV
  </author>
   
  <icon src="icon.png" />
  <engine name="android" spec="https://github.com/apache/cordova-android#4.0.0" />
  <preference name="KeepRunning" value="false"/>
  <preference name="Orientation" value="landscape" />
  <preference name="Fullscreen" value="true" />
  <preference name="SplashMaintainAspectRatio" value="false" />   
</widget>
